* {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: hidden;
}
body {
  background-image: url(./img/cinema.jpg);
  background-size: cover;
  min-height: 100vh;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
}

h1 {
  color: whitesmoke;
  text-align: center;
}

.btn {
  margin: 5px 10px;
}

.searchBar {
  width: 600px;
}
.nav {
  justify-content: center;
}

.baner {
  background-color: rgba(0, 0, 0, 0.75);
}



.logo {
  width: 20%;
}

img {
  width: 18%
}
