@font-face {
  font-family: RussoOne;
  src: url(./font/RussoOne-Regular.ttf);
}

* {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: hidden;
}
body {
  background-image: url(./img/cinema2.jpg);
  background-size: cover;
  min-height: 100vh;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
}

.h1 {
  color: whitesmoke;
  text-align: center;
  font-family: RussoOne;
}

.btn {
  margin: 5px 10px;
}

.searchBar {
  width: 600px;
}
.nav {
  justify-content: center;
}

.input {
  justify-content: center;
  width: 50%;
  margin: 6px auto;
}

.baner {
  background-color: rgba(0, 0, 0, 0.75);
}

.logo {
  width: 20%;
}

.imgLogo {
  width: 10%;
}

.cardMsg {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 45%;
  margin: 10px;
  background-color: rgb(125, 143, 176);
  position: relative;
  border-radius: 15px;
  border: 2mm ridge rgba(13, 110, 253, 0.6);
  padding: 10px;
}

.card {
  display: flex;
  justify-content: start;
  width: 15%;
  margin: 10px;
  background-color: rgba(125, 143, 176, 0.8);
  position: relative;
  height: 70vh;
  border-radius: 15px;
  border: 2mm ridge rgba(13, 110, 253, 0.6);
  z-index: 1;
}

.cardContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.cardPoster {
  width: 100%;
  object-fit: cover;
}

.cardOverview {
  text-overflow: ellipsis;
  height: 10%;
}

.cardTitle {
  margin: 5px 0;
  padding: 20px 0;
  text-align: center;
  font-weight: 900;
}

.cardStartYear,
.cardGenre1,
.cardAverageRating {
  font-weight: 900;
  margin-left: 20px;
}
